<!DOCTYPE html>
<html lang="en">

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png" <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Help!!</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>

    <div class="main-content">
        {{>header}}
        <!--here we used partial '> is in the syntax of partial and then simply the name of partials file not any extension'-->

        <h1>{{helptext}}</h1>
    </div>

    {{>footer}}
</body>

</html>