<!--now we can use this partial at top of the all o0ther pages or anywhere.-->
{{!-- <h1>Static header.hbs text</h1> --}}
{{!-- <h1>{{title}}</h1> --}}
<!--ib k h ki aapi jit bhi isna use krange n yo us file k data k hisaab t chalaga jukar about.hbs h usma
data paas how h title and name to aapin isma title likh diya yo sb ka title dikhawga dhardi e.-->

<header>
    <h1>{{title}}</h1>


    <a href="/">weather</a>
    <a href="/about">about</a>
    <a href="/help">Help</a>
</header>